@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Maven+Pro&display=swap');

:root {
  --primary-lilac:#D5C9E8;
  --primary-violet: #7E5AB2;
}
body{
  font-family: 'Courier Prime', monospace;
}

/*---------NavBar---------*/
nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 20px;
  cursor: pointer;

}
nav ul li{
  text-transform: uppercase;

}
.navbar-nav > li > a {
  margin-right: 30px;
  margin-left: 30px;
  color: var(--primary-lilac);
}
.navbar-brand{
  max-width: 17.25rem;
  padding:28px !important;
  height: 6rem;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--primary-violet);
}

