@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Maven+Pro&display=swap');

:root {
  --primary-lilac:#D5C9E8;
  --primary-violet: #7E5AB2;
  --primary-lines: #A994C7;
  --primary-hover-lines:#7738D1;
  --primaey-dark: #29104E;
}
body{
  font-family: 'Courier Prime', monospace !important;
}

/*---------NavBar---------*/
nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 20px;
  cursor: pointer;

}
nav ul li{
  text-transform: uppercase;

}
.navbar-nav > li > a {
  margin-right: 30px;
  margin-left: 30px;
  color: var(--primary-lilac);
}
.navbar-brand{
  max-width: 17.25rem;
  padding:28px !important;
  height: 6rem;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--primary-violet);
}


/*---------Header---------*/
.header-wrapper{
  position: relative;
  background: url(https://img.freepik.com/free-vector/watercolor-purple-outer-space-background_23-2149247755.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}
.main-info h1 {
  color: var(--primary-lilac);
  text-transform: uppercase;
}

.typed-text{
  font-size: 2rem;
  color: var(--primary-violet);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.btn-main-offer{
  border: 1px solid var(--primary-lines);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-lines);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-lines);
  color: var(--primary-dark);
  transition: .2s ease-in-out;
}

/*---------About Me---------*/

.mae-doodle{
  border-radius: 15%;
  padding: 0.3rem;
  border: 1px solid var(--primaey-dark);
}
.about-heading{
  color: var(--primary-violet);

}